/* Color styles */
$customBlack: #1c1c1c;
$customDark: #303030;
$customYellow: #f8d741;
$customAqua: #00efd1;
$customBlue: #00acea;

/* Sizes */
$headerSize: 120px;
$footerSize: 60px;
$mainSize: calc(100vh - $headerSize - $footerSize);