@use './partials/variables' as *;

// Background colors

.bg-custom-black{
  background-color: $customBlack;
}

.bg-custom-dark{
  background-color: $customDark;
}

//Text colors

.text-custom-black{
  color: $customBlack;
}

.text-custom-dark{
  color: $customDark;
}